*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  background-color: white;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 999;
  box-shadow: 0 1px 10px -2px gray;
}

.header-brand {
  cursor: pointer;
  font-weight: 500;
  width: 175px;
  text-align: center;
}

.header-brand > a {
  text-decoration: none;
  color: #000;
}

.header-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
}

#search-form {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;
}

#search-form > input {
  outline: none;
  height: 28px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px 0 0 5px;
  padding: 0 10px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.search-icon {
  background-color: lightgray;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
  color: rgb(85, 85, 85);
}

#header-user-admin {
  display: flex;
  height: 100%;
  align-items: center;
}

.header-option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
}

.header-cart,
.header-wishlist,
.header-chat {
  margin: 0 10px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.header-cart:hover,
.header-wishlist:hover,
.header-chat:hover {
  background-color: lightgray;
  transition: all 0.3s ease;
}

.header-user,
.header-history,
.header-add-variant {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(gray 0 0) bottom / var(--d, 0) 3px no-repeat;
  transition: 0.3s;
  height: 100%;
  cursor: pointer;
  width: 150px;
}

.header-user:hover,
.header-history:hover,
.header-add-variant:hover {
  --d: 100%;
}

.header-user > p,
.header-history > p,
.header-add-variant > p {
  margin-left: 10px;
}

.header-user-icon {
  background-color: lightgray;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.vr {
  height: 30px;
  width: 1px;
  background-color: lightgray;
  margin: 0 5px;
}

.login-logout {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-btn,
#logout-btn {
  outline: none;
  height: 25px;
  width: 75px;
  border-radius: 10px;
  border: 1px solid black;
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.5;
}
